body {
    background-color: #ededed;
}

main {
    min-height: 77vh;
    background-color: #ededed;
    margin-top: 1.5rem;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}